<div class="container card">
    <div class="row" data-test-id="app-input">
        <div class="card-body">
            <mat-label class="mb3 labelAlign">Enter City:</mat-label>
            <mat-form-field class="mb3" appearance="fill">
                <input class="fontStyle" matInput [ngModel]="cityName" (ngModelChange)="onModelChange($event)"
                    placeholder="Chennai">
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="weatherReport && weatherReport !== undefined; else noData">
        <div class="row card-body cardStyle fontStyle">
            <div data-test-id="weather-details">
                <span data-test-id="output-temperature" class="textAlign">
                    <i class="bi bi-brightness-high-fill iconStyle"></i>
                    {{weatherReport?.temperature}}° F
                </span>
                <div class="rightAlign">
                    <div data-test-id="output-wind">
                        <label> Wind: </label>
                        {{weatherReport?.wind}}
                    </div>
                    <div data-test-id="output-humidity">
                        <label> Humidity: </label>
                        {{weatherReport?.humidity}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noData>
        <div data-test-id="no-results" *ngIf="!weatherReport && isInitial">
            <span class="row card-body cardStyle">No Results Found</span>
        </div>
    </ng-template>
</div>