.card {
  margin: 17% auto;
  width: 33%;
  float: none;
  margin-bottom: 10px;
  background-color: #e6e6e6;
}

.cardStyle {
  margin-left: 23px;
  margin-right: 35px;
  margin-bottom: 12px;
  background-color: white;
}

.fontStyle {
  font-weight: bold;
}

.iconStyle {
  color: green;
  font-size: 30px;
  font-weight: bold;
  float: left;
}

.labelAlign {
  padding-right: 32px;
  padding-left: 19px;
  font-weight: bold;
}

.rightAlign {
  float: right;
}

.textAlign {
  font-size: 30px;
  padding: 12px;
}


